<h1><%= @nation.capitalize %></h1>

<p>Total Number of People: <%= @characters.length %></p><br>

<% @characters.each do |character| %>
  <div id="character-id-<%= character.id %>">
    <h3><%= character.name %></h3>
    <p>Allies: <%= character.allies.join(", ") %></p>
    <p>Enemies: <%= character.enemies.join(", ") %></p>
    <p>Affiliation: <%= character.affiliation %></p><br>
  </div>
<% end %>
