<h1>Search Results:</h1>
<br>
<h2><%= @characters.length %> total characters</h2>
<br>
<br>
<% @characters[0..24].each do |character| %>
  <div id="character">
    <!-- note - the following are POROS..
      NOT just data directly from the API response...
        I just prefer hash syntax over attr_readers!!! -->
    <h3 id="name">Name: <%= character[:name] %></h3>
    <p id="affiliation">Affiliation: <%= character[:affiliation] %></p>

    <p id="photo">Image: <%= character[:photo_url] %></p>
    <% if character[:allies].length == 0 %>
      <p id="allies">Allies: none</p>
    <% else %>
      <p id="allies">Allies: <%= character[:allies] %></p>
    <% end %>
    <% if character[:enemies].length == 0 %>
      <p id="enemies">Enemies: none</p>
    <% else %>
      <p id="enemies">Enemies: <%= character[:enemies] %></p>
    <% end %>
    <br>
  </div>
<% end %>
