<h1><%= @nation.capitalize %></h1>

<p>Total Number of People: <%= @characters.length %></p><br>

<% @characters[0..24].each do |character| %>
  <div id="character-id-<%= character.id %>">
    <% if !character.photo.nil? %>
      <img src="<%= character.photo %>">
    <% end %>
    <h3><%= character.name %></h3>
    <p>Allies:
      <% if character.allies.length == 0 %>
        None
      <% else %>
        <%= character.allies.join(", ") %>
      <% end %></p>
    <p>Enemies:
      <% if character.enemies.length == 0 %>
        None
      <% else %>
        <%= character.enemies.join(", ") %></p>
      <% end %>
    <p>Affiliation: <%= character.affiliation %></p>
    <hr><br>
  </div>
<% end %>
