<h1>Earth Kingdom</h1>

<h3>Total People: <%= @people.length %> </h3>

<h2>Members (in alphabetical order):</h2>
<% @people.first(25).each do |person| %>
  <div id="<%= person.id %>">
    <h4><%= person.name %></h4>
    <img src= '<%="#{person.photo}"%>' alt='<%="Photo of #{person.name}"%>' class='photo' >
    <p>Affiliation: <%= person.affiliation %></p>
    <div class="allies">
      <h5>Allies:</h5>
      <% if person.allies.empty? %>
        <p>None</p>
      <% end %>
      <% person.allies.each do |ally| %>
        <p> <%= ally %> </p>
      <% end %>
    </div>
    <div class="enemies">
      <h5>Enemies:</h5>
      <% if person.enemies.empty? %>
        <p>None</p>
      <% end %>
      <% person.enemies.each do |enemy| %>
        <p> <%= enemy %> </p>
      <% end %>
    </div>
  </div>
<% end %>
