<h1><%= @nation %></h1>
<hr><br>

<h2>Total Inhabitants: <%= @inhabitants.count %></h2>

<section id="first-25">
  <% @inhabitants.first(25).each do |inhabitant| %>
    <h3 id="name"><%= inhabitant[:name] %></h3>
    <img src=<%=inhabitant[:photoUrl]%> alt="Character Image">
    <% if inhabitant[:allies].count > 0 %>
      <p>Allies: <%= inhabitant[:allies].join(', ') %></p>
    <% else %>
      <p>Allies: None</p>
    <% end %>
    <% if inhabitant[:enemies].count > 0 %>
      <p>Enemies: <%= inhabitant[:enemies].join(', ') %></p>
    <% else %>
      <p>Enemies: None</p>
    <% end %>
    <p>Affiliation: <%= inhabitant[:affiliation] %></p>
  <% end %>
</section>